:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --blur-radius: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    scroll-behavior: smooth;
    background: url('images/background.webp') no-repeat center center/cover fixed;
    background-size: cover;
}

header {
    background-color: rgba(0, 75, 107, 0.8); /* Make header slightly transparent */
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    color: #fff;
    padding: 150px 20px 50px;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-secondary {
    height: 10vh;
    background: linear-gradient(135deg, rgba(229, 102, 22, 0.1), rgba(252, 238, 230, 0)); /* Semi-transparent background */
    backdrop-filter: blur(var(--blur-radius));
    -webkit-backdrop-filter: blur(var(--blur-radius));
    border-radius: var(--border-radius);
    border: 0px solid rgba(255, 255, 255, 0.20);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.hero-content h1 {
    font-size: 2.5em;
    margin: 0;
}

.hero-content p {
    font-size: 1.2em;
}

.hero-content button {
    background-color: #FF6B35;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
}

section {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features, .pricing, .about, .contact {
    text-align: center;
}

.features h2, .pricing h2, .about h2, .contact h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.feature-grid, .pricing-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.feature-item, .pricing-item {
    border: 1px solid #ddd;
    padding: 20px;
    max-width:300px;
    flex: 1 1 calc(25% - 10px); /* Three items per row with 20px gap */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1)); /* Semi-transparent background */
    backdrop-filter: blur(var(--blur-radius));
    -webkit-backdrop-filter: blur(var(--blur-radius));
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.feature-item img, .pricing-item img {
    max-width: 100%;
}

.feature-item h3, .pricing-item h3 {
    font-size: 1.5em;
    margin-top: 10px;
}

.pricing-item ul {
    list-style: none;
    padding: 0;
}

.pricing-item ul li {
    margin: 10px 0;
}

.pricing-item button {
    background-color: #004B6B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    margin-top: auto; /* Push the button to the bottom */
}

footer {
    background-color: rgba(0, 75, 107, 0.8); /* Make footer slightly transparent */
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Glassmorphism for sections */
.features, .pricing, .about, .contact {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.05)); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Replace var(--blur-radius) with a fixed value */
    -webkit-backdrop-filter: blur(10px); /* Replace var(--blur-radius) with a fixed value */
    border-radius: 15px; /* Replace var(--border-radius) with a fixed value */
    border: 0px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.5);
    padding: 100px;
    margin: 20px;
}
